---
import Section from "../Section.astro";
import { useTranslation, getCVSection } from "@/utils/language-context";

const { summary } = getCVSection("basics");
const t = useTranslation();
---

<Section title={t("about.title")}>
  <p>
    {summary}
  </p>
</Section>
