---
import { i18nConfig } from "@astro.config";
const defaultLang = i18nConfig.defaultLocale;
---

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Loading...</title>
    <script define:vars={{ defaultLang }}>
      var storedLang = localStorage.getItem("preferred-language");
      var targetLang = storedLang || defaultLang;

      // Immediately redirect, without waiting
      window.location.replace("/" + targetLang);
    </script>
    <!-- Backup redirect, if JavaScript fails -->
    <meta http-equiv="refresh" content=`2;url=/${defaultLang}` />
  </head>
  <body>
    <p>Loading...</p>
  </body>
</html>
