---
import LanguageSwitcher from "@/components/LanguageSwitcher.astro";
import ThemeSwitcher from "@/components/ThemeSwitcher.astro";
import PrintButton from "@/components/PrintButton.astro";
---

<div class="header-actions no-print">
  <PrintButton />
  <LanguageSwitcher />
  <span class="separator"></span>
  <ThemeSwitcher />
</div>

<style>
  .header-actions {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 99;
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    color: var(--text-color);
  }

  .separator {
    width: 1px;
    height: 16px;
    /* background-color: var(--text-color); */
  }

  @media (max-width: 600px) {
    .header-actions {
      top: 0.5rem;
      right: 10px;
      gap: 0.5rem;
      flex-direction: column-reverse;
      align-items: flex-end;
    }
    .separator {
      display: none;
    }
  }
</style>
